.root {
    -fx-font-family: "Segoe UI", "Inter", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #4C5060;
}

.headline {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f3640;
}

.label {
    -fx-text-fill: white;
}

.border-pane {
    -fx-padding: 16;
}

.button {
    -fx-background-radius: 6;
    -fx-padding: 8 16;
}

.content-area {
    -fx-padding: 16
}

.tab-content {
    -fx-padding: 8;
    -fx-spacing: 10;
}

.nav-button {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8 12;
    -fx-font-size: 13px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}



.sidebar {
    -fx-background-color: #24262C;
    -fx-border-color: #24262C;
    -fx-border-width: 0 1 0 0;
    -fx-pref-width: 200;
    -fx-padding: 12;
    -fx-spacing: 8;
}

.list-cell:even {
    -fx-background-color: #2f3542;
}

.list-cell:odd {
    -fx-background-color: #353b48;
}


.filter-bar {
    -fx-padding: 0 0 6 0;
}

.article-topbar {
    -fx-padding: 10;
    -fx-alignment: CENTER_LEFT;
}